html{
  font-family: 'Lora', serif;
}
body{
  padding:0;
  margin:0;
  background-color: #F9FAFA;
  overflow: hidden;
}


.summaryWrapper{
  position: absolute;
  left: 38%;
  border: 1px solid #DEDEDC;
  width: 60%;
  display: inline-block;
  top: 30px;
  background-color: #efefeb;
  box-shadow: 1px 1px 8px #DEDEDC;
  border-radius: 3px;

}

.notesWrapper{

}

.familyWrapper{
  border: 1px solid #DEDEDC;
  width: 32%;
  top: 30px;
  position: absolute;
  right: 64%;
  height: 639px;
  /*overflow: scroll;*/
  /*padding: 0 10px;*/
  background-color: #efefeb;
  box-shadow: 1px 1px 8px #DEDEDC;
  border-radius: 3px;
  }

.hyraxContent {
  position: relative;
}
