body{
  padding:0;
  margin:0;
}

.summaryWrapper{
  position: absolute;
  left: 40%;
  border: 1px solid;
  width: 100%;
  display: inline-block;
  top: 0;
}

.notesWrapper{

}

.familyWrapper{
  border: 1px solid;
  width: 40%;

}

.eachFamilyMember {
  position: absolute;
  border: 1px solid black;
  color: red;
}

.hyraxContent {
  position: relative;
}