
<link rel="stylesheet" type="text/css" href="actionView/action.css">

<div class="actionWrapper">

  <div ng-controller="actionController">
    <p class="date">Date of your action<input type="text" ng-model="dateEntered"></p>

    <!-- Table that lists all the action options -->
    <table>
      <tr>
        <th></th><th></th>
      </tr>

      <form>
        <!-- Used this stackoverflow post to make the clicked action be highlighted 
        http://stackoverflow.com/questions/19331779/how-to-highlight-a-selected-row-in-ngrepeat -->
        <tr ng-class="{selected: 'Call' === selectedAction}" class="highlight">
          <td ng-click="setAction('Call', 8); setSelected('Call')">Call</td><td>8</td> <!-- Call these functions when the action is clicked-->
        </tr>
      </form>
      <form>
        <tr ng-class="{selected: 'Text' === selectedAction}">
          <td ng-click="setAction('Text', 3); setSelected('Text')">Text</td><td>3</td> 
        </tr>
      </form>
      <form>
        <tr ng-class="{selected: 'Send Letter' === selectedAction}">
          <td ng-click="setAction('Send Letter', 6); setSelected('Send Letter')" >Send Letter</td><td>6</td> 
        </tr>
      </form>
      <form>
        <tr ng-class="{selected: 'Send Email' === selectedAction}">
          <td ng-click="setAction('Send Email', 4); setSelected('Send Email')">Send Email</td><td>4</td>  
        </tr>
      </form>
      <form>
        <tr ng-class="{selected: 'Dinner' === selectedAction}">
          <td ng-click="setAction('Dinner', 10); setSelected('Dinner')">Dinner</td><td>10</td> 
        </tr>
      </form>
      <form>
        <tr ng-class="{selected: 'Drinks' === selectedAction}">
          <td ng-click="setAction('Drinks', 10); setSelected('Drinks')">Drinks</td><td>10</td>
        </tr>
      </form>
      <form>
        <tr ng-class="{selected: 'Lunch' === selectedAction}">
          <td ng-click="setAction('Lunch', 10); setSelected('Lunch')">Lunch</td><td>10</td>
        </tr>
      </form>
        <form>
        <tr ng-class="{selected: 'Coffee' === selectedAction}">
          <td ng-click="setAction('Coffee', 10); setSelected('Coffee')">Coffee</td><td>10</td>
        </tr>
      </form>
    </table>
    <br> 

    <!-- User will enter the note here -->
    <div>
      <p><i>Enter a note (to add to your action)</i></p>
        <textarea rows="4" ng-model="singleNote"></textarea>
    </div>

    <br>
    <!-- Submit button that calls the function that will submit the action to the database -->
    <input class="submitAction" type="submit" ng-click="saveAction(selectedAction, points, dateEntered, singleNote)" value="Submit"/>

    <!-- Display a message if no action was clicked before clicking submit -->
    <!-- Display a message if the action was saved -->
    <span class="noActionYet">{{noActionYet}}<span><span class="actionSaved">{{actionSaved}}<span>

    </div>


  </div>
</div>
