
.actionWrapper {
  font-size: 15px;
}

.actionWrapper td {
 cursor: pointer; 
}

.actionWrapper p{
    margin: 4px;
    margin-left: 0px;
    padding: 0px;
}

.date {
  font-weight: bold;
}

.date input {
  margin-left: 10px;
  width: 150px;
  font-size: 15px;
}

/* Color displayed when an action is clicked */
.selected {
  background-color: rgba(255, 152, 0, 0.2);
}

textarea {
  font-size:15px;
  border: 1px solid #DEDEDC;
  box-shadow:
    inset 0 0 3px rgba(222, 222,220,1);
  border-radius: 3px;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  margin: 6px 0 15px 0;
  width: 100%;
}

.submitAction {
 border: 2px solid #2CA02C;
  font-family: 'Lora', serif;
  font-size: 15px;
  background: #2CA02C;
  margin: 0 0 20px;
  border-radius: 3px;
  padding: 9px;
  width: auto;
  float: right;
  position: relative;
  right: 20px;
  cursor: pointer;
  color: white;

}


.noActionYet{
  color:red;
}

.actionSaved{
  color:green;
}



