
/*Column header*/
.actionWrapper {
  font-size: 15px;
}

.actionWrapper th {
  text-align: left;
  width: 200px;
  color:red;
}

.date b{
  padding: 10px;
}

.actionChoice {
  font-size: 20px;
  color: red;
}
.actionWrapper p{
    margin: 4px;
    margin-left: 0px;
    padding: 0px;
}


.submitAction {
  background-color:#44c767;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  margin: 3px;
  padding:6px 21px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;

}

textarea {
  font-size:15px;
  width: 100%;
}

.noActionYet{
  color:red;
}



