.familyMember input:not([type=button]) {
  border: 1px solid #DEDEDC;
  box-shadow:
    inset 0 0 3px rgba(222, 222,220,1);
  border-radius: 3px;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  margin: 6px 0 15px 0;
  width: 100%;
}

.familyMember input[type=submit] {
  border: 1px solid lightgrey;
  font-family: 'Lora', serif;
  font-size: 15px;
  background: white;
  margin: 20px 0 ;
  border-radius: 3px;
  padding: 9px;
  width: auto;
  float: right;
  position: relative;
  right: 20px;
}

.familyMember input {
  font-size: 20px;
}

.familyMember label{
  font-weight: bold;
}

.familyMember .large{
  width:49%;
  position:relative;
  display:inline-block;
}

.familyMember .small{
  width:28%;
  position:relative;
  display:inline-block;
  margin: 0 35px 0 0;
}

.familyMember .frequency{
  width: 46%;
  position: relative;
  display: inline-block;
  padding: 10px 5px 20px;
  font-weight: bold;
}

.familyMember .date{
  width: 46%;
  position: relative;
  display: inline-block;
  padding: 10px 5px 20px;
  font-weight: bold;
}

.members {
  padding: 15px;
}

.slider {
  width: 97%;
}
