<!-- to be inculded in the main file -->
<link rel="stylesheet" href="../newFamilyMemberView/member.css" charset="utf-8">

<!-- Remember to add "gaussHyraxx.newFamilyMember" to the config file. remove ng controller when routes are created -->

<div class="container">
<h1>New Member</h1>
<div class="members" ng-controller='memberCtrl'>
  <form class="familyMember" >

    <div class="large" >
      <label for="firstName">First Name *</label>
      <input type="text" name="firstName" ng-model="member.firstName" required>
    </div>

    <div class="large">
      <label for="lastName">Last Name *</label>
      <input type="text" name="lastName" ng-model="member.lastName" required>
    </div>

    <div class="large">
      <label for="Phone">Phone *</label>
      <input type="tel" name="phoneNumber" ng-model="member.phoneNumber" required>
    </div>

    <div class="large">
      <label for="Email">Email *</label>
      <input type="email" name="email" ng-model="member.email" required>
    </div>

    <div class="large">
      <label for="StreetAddress">Street Address *</label>
      <input type="text" name="address" ng-model="member.streetAddress" required>
    </div>

    <div class="large">
      <label for="City">City *</label>
      <input type="text" name="city" ng-model="member.city" required>
    </div>

    <div class="small" >
      <label for="State">State *</label>
      <input type="text" name="state" ng-model="member.state" required>
    </div>

    <div class="small">
      <label for="Country">Country *</label>
      <input type="text" name="country" ng-model="member.country" required>
    </div>

    <div class="small">
      <label for="Zipcode">Zipcode *</label>
      <input type="text" name="zipcode" ng-model="member.zipcode" required>
    </div>

    <div class="frequency" >
      <span ng-model="slider_toggle.value">Contact Frequency: {{ slider_toggle.value }}</span>
    </div>
    <div class="date" >
      <span ng-model="nextDate">Next Contact Date: {{ nextDate }}</span>
    </div>

  <div class='slider'>
    <!-- Slider module for days functionality  -->
    <rzslider
    rz-slider-model="slider_toggle.value"
    rz-slider-options="slider_toggle.options"></rzslider>
  </div>

    <input type="submit" ng-show="savebtn" value="Add Member" ng-click="saveMember()" >
    <input type="submit" ng-show="updatebtn" value="Update" ng-click="update()" >
    <input type="submit" ng-show="deletebtn" value="Delete" ng-click="delete()" >

  </form>
</div>
</div>
