<div class="summaryWrapper" ng-controller="summaryCtrl">
  <div class="summaryContent">
    <div class="mainInfo">
      <h2>{{activeFamilyMember.firstName}}  {{activeFamilyMember.lastName}}</h2>
        <span class="editButton" ng-show="activeFamilyMember._id" ng-click='editMember()'>Edit</span>
        <div class="phone">{{activeFamilyMember.phoneNumber}}</div>
        <div class="email">{{activeFamilyMember.email}}</div>
        <div ng-show="activeFamilyMember._id" class="contactFreq">{{activeFamilyMember.contactFrequency}} days</div>
    </div>
    <div class="contactInfo">
    <img src="assets/batman.jpg" class="familyImg" ng-show="activeFamilyMember._id">
      <ul>
        <li class="email">{{activeFamilyMember.streetAddress}}</li>
        <li ng-show="activeFamilyMember.city" class="email">{{activeFamilyMember.city}} {{activeFamilyMember.state}}, {{activeFamilyMember.zipcode}}</li>
        <li class="email">{{activeFamilyMember.country}}</li>
      </ul>
    </div>
    <div id="chart"></div>
    <div id="donut"></div>

    <div class="actionWrapper">
      <h2>Notes</h2>
      <div class="scrollBox">
        <ul class="actionList">
          <li class="actionItem" ng-repeat="action in activeFamilyMember.history | orderBy:'-date'">
              <div class="leftContent">
                <ul>
                  <li>{{action.date | niceDate}}</li>
                </ul>
              </div>
              <div class="rightContent">
                <ul>
                  <li class="action-text">{{action.action}}</li>
                </ul>
              </div>
              <div class="notesContent">
                "{{action.notes}}"
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
