.eachFamilyMember {
  /*border: 1px solid black;
  width: 92%;*/
  /*box-shadow: inset 0px 0px 30px 0px rgb(131, 59, 59);*/
  background-color: #F5F5F5;
  border-left: 7px solid rgb(44, 160, 44);
  /*border-radius: 3px;*/
  padding: 5px 5px;
  margin: 0 0 4px;
  /*font-family: sans-serif;*/
  font-size: 16px;
  text-transform: capitalize;
}

.eachFamilyMember li {
  /*display: inline;*/
  padding: 5px;
  list-style: none;
  /*font-size:*/
}

.circle {
  /*float: right;*/
  /*position: absolute;*/
  /*right: 34px;*/
  display: inline-block;
  border: 2px solid rgb(183, 207, 221);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 1px 4px 4px 3px;
  text-align: center;
  background: #C5D7E0;
  /*float: right;*/
  margin: 0 16px;
}

.circle p {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  /*font-family: sans-serif;*/
  color: #FF5C5C;
}

.addFamilyMemberButton {
  float: relative;
}
.familyHeader {
  padding: 10px;
  display: block;
  border-bottom: 3px solid #DEDEDC;
  margin: 9px 9px 0;
}

.familyHeader .userActions{
    position: relative;
    display: inline-block;
    float: right;
    right: 25px;
    bottom: 12px;
}

.familyHeader .addToggle {
  position: relative;
  display: inline-block;
  height: auto;
  width: 10px;
}
.familyHeader img{
  height: 2.5%;
  cursor: pointer;
}
.familyHeader h2{
  display: inline-block;
  margin: 0;
}

.familyInfo{
  /*padding: 10px;*/
  height: 550px;
  overflow-y: scroll;
}


.searchBox {
  position: relative;
  display: inline-block;
  height: 35px;
  width: 35px;
  top: 6px;
  /*left: 268px;*/
}

input.query {
/* 	-webkit-appearance: textfield; */
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
  position: absolute;
  right:0px;
  bottom: 0px;
}
input.query::-webkit-search-decoration,
input.query::-webkit-search-cancel-button {
	display: none;
}


input.query {
	background: #efefeb url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #efefeb;
  width: 23px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;

	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input.query:focus {
	width: 130px;
  padding: 5px 5px 5px 32px;
	background-color: #fff;
	border-color: #000;
  color: #000;
	background-color: #fff;
	cursor: auto;
  outline: none;


	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* MODAL*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color:#000000;
  opacity: 0.5;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  height: auto;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #EFEFEB;
  border-radius: 5px;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  /*font-family: 'arial', 'sans-serif';*/
}
/* Adding Action View */

.slide-animate-container {
  position: relative;
  background: white;
  border: 1px solid black;
  height: auto;   /* Updated to auto to hold all the action view contents*/
  overflow: auto;
  transition: all linear 0.4s;
}

.slide-animate-container.ng-hide {
  height: 0px;
  transition: all ease-in 0.5s;
}

.dropDownActionButton img{
  float: right;
  width: auto;
  height: 2%;
  cursor: pointer;
  position: relative;
  top: -20px;
  right: 22px;
}
