<link rel="stylesheet" type="text/css" href="familyView/familyView.css">
<div class="container">

<div class="familyWrapper" >
  <div class="familyHeader">
    <h2>Family</h2>
    <div class="searchBox">
      <input type="search" ng-model="search" class="query">
    </div>
    <a ng-click='toggleModal()'> <img src="../assets/add.png" alt="Add Family" /> </a>
  </div>


  <div class="familyInfo">
    <div ng-animate="'animate'" class="eachFamilyMember" ng-repeat="member in familyData | filter:search | orderBy: sortFamilyMembers : reverse" ng-click="singleFamilyMemberInfo(member)" style="border-left:4px solid {{member.urgency}};">
      <li> {{ member.firstName }} {{ member.lastName }} <div class="circle"><p> {{ member.points }} </p></div></li>
      <li> {{ member.nextContactDate }} </li>
      <a class="dropDownActionButton" ng-click="showDetails = !showDetails"> <img src="../assets/doubledown.png" alt="Add Family" /> </a>
      <div class="slide-animate-container" ng-show="showDetails">
        <div ng-include="'../actionView/action.html'"></div>
      </div>
    </div>
  </div>
</div>
</div>
