.eachFamilyMember {
  /*border: 1px solid black;
  width: 92%;*/
  /*box-shadow: inset 0px 0px 30px 0px rgb(131, 59, 59);*/
  background-color: #F5F5F5;
  border-left: 4px solid rgb(44, 160, 44);
  /*border-radius: 3px;*/
  padding: 5px 5px;
  margin: 0 0 4px;
  /*font-family: sans-serif;*/
  font-size: 16px;
  text-transform: capitalize;
}

.eachFamilyMember li {
  /*display: inline;*/
  padding: 5px;
  list-style: none;
  /*font-size:*/
}

.circle {
  display: inline-block;
  border: 2px solid rgb(183, 207, 221);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 1px 4px 4px 3px;
  text-align: center;
  background: #C5D7E0;
  /*float: right;
  margin: 0 6px;*/
}

.circle p {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  /*font-family: sans-serif;*/
  color: #FF5C5C;
}

.addFamilyMemberButton {
  float: relative;
}
.familyHeader {
  padding: 10px;
  display: block;
  border-bottom: 3px solid #DEDEDC;
  margin: 9px 9px 0;
}

.familyHeader a img{
  width: auto;
  height: 2.5%;
  cursor: pointer;
  float: right;
  top: 10px;
  position: relative;
  right: 8px;
}

.familyHeader h2{
  display: inline-block;
  margin: 0;
}

.familyInfo{
  /*padding: 10px;*/
  height: 550px;
  overflow-y: scroll;
}


/* MODAL*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color:#000000;
  opacity: 0.5;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  height: auto;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  /*font-family: 'arial', 'sans-serif';*/
}

/* Adding Action View */

.slide-animate-container {
  position: relative;
  background: white;
  border: 1px solid black;
  height: auto;   /* Updated to auto to hold all the action view contents*/
  overflow: auto;
  transition: all linear 0.4s;
}

.slide-animate-container.ng-hide {
  height: 0px;
  transition: all ease-in 0.5s;
}

.dropDownActionButton img{
  float: right;
  width: auto;
  height: 2%;
  cursor: pointer;
  position: relative;
  top: -20px;
  right: 22px;
}
